#create-form label input[name=type], #update-form label input[name=type] {
  margin-left: 30px;
}

#create-form label input[name=toppings], #update-form label input[name=toppings]   {
  margin-left: 10px;
  margin-bottom: 1%;
}

#update-form {
  margin-top: 6px;
}