* {
  font-family: Arial, Helvetica, sans-serif;
}

#expense-update {
  border: 3px solid rgb(245, 255, 130);
}

#expense-update * {
  margin-left: 2px;
}

#expenses button{
  margin-right: 10px;
}

#expenses li {
  display:flex;
}

#expense-update input[type=submit] {
  margin-left: 55px;
}
